parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/Fixture/*
    ignoreErrors:
        # Allow dynamic properties in test fixtures
        - '#Access to an undefined property#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false